h1, h2, h3, h4, h5, h6 {
    font-size: large;
    color: black;
}

#para1{
    font-family: verdana;
    border: dotted 8px red;
}

#para2{
    font-family: courier;
    border: solid 2px red;
    border-radius: 20px;
}

#part2 {
    float: right;
}

#part2 img{
    width: 50px; 
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#Part3 img {
    width: 300px;
    height: 200px;
}

#Part4 {
    float: left;
    position: relative;
    text-align: center;
    color: #8E41D5;
}

#Part4 img {
    width:500px; 
    height:315px;
}

#Part4 p {
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Part5 img{
    width: 100%;
    margin: 20px;
}

